.navigation-header{
  .menu-header{
    gap: 1.4rem;
    .list-menu,.MenuMobile{
      cursor: pointer;
      text-transform: uppercase;
      font-size: clamp(1.08rem, 1.2468rem + 0.2774vw, 0.6rem);
      font-weight: 500;
      color: var(--header-color-text);
      transition: all 0.4s ease-in-out;
      &:hover,&:active,&:focus{
        color: var(--header-text-span-logo);
        text-decoration: none;
      }
    }
    .MenuMobile{
      display: none;
    }
  }
}
@media (max-width: 678px) {
  .MenuMobile{
    display: flex !important;
  }
  .list-menu{
    display: none !important;
  }
}
