.Wallet {
  display: flex;
  flex-direction: column;
  .WalletTitle {
    font-size: clamp(1.78rem, 1.5vh, 1.2rem);
    font-weight: 600;
    letter-spacing: 0.4rem;
    color: var(--text-about-skills-icon);
    margin-bottom: 1.5rem;
  }
  .WalletBox {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    .WalletBoxInfo {
      background-color: var(--footer-bg-color);
      height: 5.59rem;
      padding: 10px;
      border: 1px solid var(--text-home-color-icon);
      border-radius: 0.1rem;
      display: flex;
      align-items: center;
      gap: 2.4rem;
      .WalletBoxInfoIcon {
        margin-left: 1.3rem;
        font-size: clamp(2.28rem, 1.5vh, 1.44rem);
        color: var(--text-home-color-icon);
      }
      .WalletBoxInfoDonate {
        font-size: clamp(1.48rem, 1.5vh, 1.2rem);
        color: var(--text-home-color-box);
        text-decoration: none;
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .Wallet {
    .WalletBox {
      width: 90%;
      .WalletBoxInfo {
        gap: 0.6rem;
        .WalletBoxInfoIcon {
          font-size: clamp(1.4rem, 2.5vh, 0.8rem);
        }
        .WalletBoxInfoDonate {
          font-size: clamp(0.92rem, 2.5vh, 0.5rem);
          &:nth-last-child(1) {
            font-size: clamp(0.62rem, 2.5vh, 0.5rem);
          }
        }
      }
    }
  }
}
@media only screen and (max-device-width: 724px) and (orientation: landscape) {
  .Wallet {
    height: 125vh !important;
  }
}
