<div class="container-footer flex">
 <div class="container-content container-main flex">
  <nav class="navigation-main flex">
    <ul class="flex">
      <li><a href="/home">{{footerHome}}</a></li>
      <li><a href="/about">{{footerAbout}}</a></li>
      <li><a href="/service">{{footerService}}</a></li>
      <li><a href="/contact">{{footerContact}}</a></li>
    </ul>
    <ul class="flex">
      <a href="https://discord.gg/TjaCyxGAwd">
        <i class="fa-brands fa-discord summary-icon"></i>
      </a>
      <a href="https://www.linkedin.com/in/olipemiguel/">
        <i class="fa-brands fa-linkedin summary-icon"></i>
      </a>
      <a href="https://github.com/olipemiguel">
        <i class="fa-brands fa-github summary-icon"></i>
      </a>
      <a href="https://www.linkedin.com/in/olipemiguel/">
        <i class="fa-brands fa-x-twitter summary-icon"></i>
      </a>
    </ul>
  </nav>
  <p class="info-footer">© 2024 Antraz</p>
 </div>
</div>
