<div class="container-about flex">
  <div class="content-about container-main flex">
    <div class="box-about flex">
      <div class="box-title">
        {{aboutTitle}}
      </div>
      <div class="box-info">
        <p class="box-info-sub">{{aboutMe[0]}}</p>
        <p class="box-info-sub">{{aboutMe[1]}}</p>
      </div>
      <div class="box-skill flex">
        <span class="skill-title">{{aboutSkills[0]}}</span>
        <span class="skill-title">{{aboutSkills[1]}}</span>
        <span class="skill-title">{{aboutSkills[2]}}</span>
        <span class="skill-title">{{aboutSkills[3]}}</span>
        <span class="skill-title">{{aboutSkills[4]}}</span>
        <span class="skill-title">{{aboutSkills[5]}}</span>
        <span class="skill-title">{{aboutSkills[6]}}</span>
        <span class="skill-title">{{aboutSkills[7]}}</span>
        <span class="skill-title">{{aboutSkills[8]}}</span>
        <span class="skill-title">{{aboutSkills[9]}}</span>
        <span class="skill-title">{{aboutSkills[10]}}</span>
      </div>
    </div>
    <div class="box-about flex">
      <div class="box-title">
        {{detailsTitle}}
      </div>
      <div class="box-info-me flex">
        <span class="box-title-info">{{detailsMe[0].name}}</span>
        <span class="box-sub-info">{{detailsMe[0].value}}</span>
      </div>
      <div class="box-info-me flex">
        <span class="box-title-info">{{detailsMe[1].age}}</span>
        <span class="box-sub-info">{{detailsMe[1].value}}</span>
      </div>
      <div class="box-info-me flex">
        <span class="box-title-info">{{detailsMe[2].idiom}}</span>
        <span class="box-sub-info">{{detailsMe[2].value}}</span>
      </div>
      <div class="box-info-me flex">
        <span class="box-title-info">{{detailsMe[3].location}}</span>
        <span class="box-sub-info">{{detailsMe[3].value}}</span>
      </div>
      <div class="box-info-me flex">
        <a class="box-download flex" href="../../../assets/pdf/Curriculum-Feliphe-Dev.pdf" download="FelipeDev.pdf">
          <i class="fa-solid fa-cloud-arrow-down"></i>Download CV
        </a>
      </div>
    </div>
  </div>
</div>
