<div class="container-contact flex">
  <div class="content-contact container-main flex">
    <div class="box-title">
      Contato
    </div>
    <form class="box-form flex">
      <div class="box-form-center flex">
        <div class="flex">
          <input class="box-input" type="text" placeholder="Nome:">
          <input class="box-input" type="email" placeholder="Email:">
        </div>
        <div class="flex">
          <input class="box-input-sub" type="text" placeholder="Subject:">
        </div>
        <div>
          <textarea class="box-textarea" placeholder="Mensagem:"></textarea>
        </div>
      </div>
      <div>
        <button class="box-submit flex">Enviar</button>
      </div>
    </form>
  </div>
</div>
