<div class="container-home flex">
  <div class="container-content container-main flex">
    <div class="container-summary flex">
      <div class="summary-top flex">
        <p class="summary-title">{{homeTitle}}</p>
        <p class="summary-sub">{{homeSubTitle}}</p>
      </div>
      <div class="summary-content flex">
        <a class="summary-text flex" href="mailto:olipemiguel@tuta.io"><i class="fa-solid fa-envelope summary-icon"></i>{{homeMail}}</a>
        <a class="summary-text flex" href="tel:+445848454848"><i class="fa-solid fa-mobile summary-icon"></i>{{homeTell}}</a>
        <a class="summary-text flex" href="https://www.linkedin.com/in/olipemiguel/"><i class="fa-solid fa-location-dot summary-icon"></i>{{homeAddress}}</a>
      </div>
      <div class="summary-bottom flex">
        <a href="https://discord.gg/TjaCyxGAwd">
          <i class="fa-brands fa-discord summary-icon"></i>
        </a>
        <a href="https://www.linkedin.com/in/olipemiguel/">
          <i class="fa-brands fa-linkedin summary-icon"></i>
        </a>
        <a href="https://github.com/olipemiguel">
          <i class="fa-brands fa-github summary-icon"></i>
        </a>
        <a href="https://www.linkedin.com/in/olipemiguel/">
          <i class="fa-brands fa-x-twitter summary-icon"></i>
        </a>
      </div>
    </div>
    <div class="container-images">
      <img class="container-photo" src="../../../assets/images/photo.jpg" alt="Photo Profile">
    </div>
  </div>
</div>
